body {
  background-color: #6a4c93;
  margin: 0;
  font-family: 'Fredoka One', cursive;
}

button, select, input, textarea {
  font-family: 'Fredoka One', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-header-link {
  text-decoration: none;
  font-size: 25px;
  color: #ffca3a;
  text-shadow: 0 0 2px #000;
}

.welcome-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.welcome-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  width: 600px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.choose-modal {
  height: 330px;
}

.choose-figure-figures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.choose-figure-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure-wrapper {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.figure-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px #ffca3a;
  border: 1px solid #ffca3a;
}

.figure-checked {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px #ffca3a;
  border: 1px solid #ffca3a;
}

.welcome-header {
  align-items: center;
  width: 500px;
  color: #ff595e;
  text-shadow: 0 0 2px #000;
}

.visible {
  display: none;
}

.welcome-start-button {
  padding: 0 15px;
  height: 50px;
  margin-top: 5px;
  background-color: #8ac926;
  border-radius: 10px;
  border-style: none;
  font-size: 33px;
  color: #ffca3a;
  text-shadow: 0 0 2px #000;
}

.game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header {
  margin-top: 65px;
  font-size: 33px;
  color: #ffca3a;
  text-shadow: 0 0 2px #000;
}

.game-vs {
  font-size: 40px;
  color: #ff595e;
  text-shadow: 0 0 2px #000;
  margin-top: -150px;
}

.game-players {
  width: 80%;
  height: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  background-color:rgba(0, 0, 0, 0.2);
}

.game-cards-and-moves {
  width: 80%;
  height: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color:rgba(0, 0, 0, 0.2);
}

.player-card {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  font-size: 22px;
  color: #ff595e;
  text-shadow: 0 0 2px #000;
}

.player-health {
  margin-top: 10px;
  width: 90%;
  height: 20px;
  background-color: #ff595e;
}

.player-health-bar {
  width: 100%;
  height: 100%;
  background-color: #8ac926;
  transition: width 500ms;
}

.quad {
  width: 50px;
  height: 50px;
  background-color: #ff595e;
}

.circl {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #8ac926;
}

.trian {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #1982c4;
}

.diam {
  width: 40px;
  height: 40px;
  margin: 10px;
  transform: rotate(-45deg);
  background-color: #ffca3a;
}

.player-avatar-quad {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  background-color: #ff595e;
}

.player-avatar-circl {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  border-radius: 50px;
  background-color: #8ac926;
  color: #1982c4
}

.player-avatar-trian 	{
  width: 0;
  height: 0;
  margin-top: 25px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #1982c4;
}

.player-avatar-diam {
  width: 80px;
  height: 80px;
  margin-top: 40px;
  transform: rotate(-45deg);
  background-color: #ffca3a;
}

.game-card {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 10px;
  background-color: #1982c4;
}

.game-card:hover {
  background-color: #1573ad;
  box-shadow: 0 0 3px #ffca3a;
  border: 1px solid #ffca3a;
}

.game-cards-field {
  width: 305px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.game-moves-field {
  width: 305px;
  height: 250px;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.moves-header {
  margin: 15px;
  font-size: 18px;
  color: #ffca3a;
  text-shadow: 0 0 2px #000;
}

.moves-item {
  margin-left: 25px;
  margin-top: 5px;
  font-size: 15px;
  color: #ffca3a;
  text-shadow: 0 0 2px #000;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.inputs-style {
  width: 200px;
  margin-top: 5px;
}

.input-error {
  margin-left: 15px;
  color: red;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #bcc9d2; 
}
::-webkit-scrollbar-thumb:window-inactive {
background: #bcc9d2; 
}

.game-over-main {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5)
}

.game-over-modal {
  box-sizing: border-box;
  padding: 20px;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 6px solid #ffca3a;
  justify-content: center;
  background-color: #ff595e;
  color: #ffca3a;
  text-shadow: 0 0 2px #000;
  font-size: 30px;
}

.game-over-visible {
  display: none;
}
