body {
  background-color: #6a4c93;
  margin: 0;
  font-family: 'Fredoka One', cursive;
}

button, select, input, textarea {
  font-family: 'Fredoka One', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-header-link {
  text-decoration: none;
  font-size: 25px;
  color: #ffca3a;
  text-shadow: 0 0 2px #000;
}

.welcome-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.welcome-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  width: 600px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.welcome-header {
  align-items: center;
  width: 500px;
  color: #ff595e;
  text-shadow: 0 0 2px #000;
}

.visible {
  display: none;
}

.welcome-start-button {
  width: 150px;
  height: 50px;
  margin-top: 5px;
  background-color: #8ac926;
  border-radius: 10px;
  border-style: none;
  font-size: 33px;
  color: #ffca3a;
  text-shadow: 0 0 2px #000;
}